.copyright {
  background-color: @white;
  color: @black;
  text-align: center;
  text-transform: uppercase;
  padding: 0 14px;

  @media (min-width: @tablet-width) {
    padding: 0 1px;
  }
}

.copyright__link {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  min-height: 35px;
  align-items: center;
  color: @black;

  &:hover {
    color: @blue;
  }

  &:active {
    color: #b3b3b3;
  }
}

.copyright__link .copyright__title {
  &:hover {
    color: @blue;
  }

  &:active {
    color: #b3b3b3;
  }
}

.copyright__title {
  font-size: 14px;
  font-weight: 400;
  color: @black;
  margin-block: 0;
}

.copyright__icon {
  width: 27px;
  height: 34px;
}
