.description {
  color: #000000;
  background-color: inherit;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.description--left {
  text-align: left;
}

.description--color-light {
  color: #ffffff;
}
