.feedback-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 320px;
  background-color: #ffffff;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.feedback-form__field {
  margin: 0;
  padding: 24px 0;
}

.feedback-form__button {
  margin: 0 auto;
}
