.feedback {
  min-width: 320px;
  background-color: #ffffff;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.feedback__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    padding: 0 120px;
  }
}

.feedback__header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 280px;
  padding: 36px 0 28px;

  @media (min-width: @tablet-width) {
    width: 648px;
    padding: 64px 0 108px;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
    padding: 115px 0 68px;
  }
}

.feedback__about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 323px);
    width: 648px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 493px 466px;
    width: 960px;
  }
}
