.feedback {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 320px;
  background-color: #ffffff;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.feedback__wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.feedback__header {
  padding: 36px 0 28px;
}

.feedback__title {
  padding: 0;
  margin: 0 0 20px 0;
}

.feedback__container {
  padding: 0 0 16px 0;
}

.feedback__list {
  margin: 0;
  padding: 0;
}

.feedback__item {
  padding: 0 0 16px 0;
}

.feedback__button {
  margin: 32px 0 3px;
}

