.foto-about {
  background-color: #ffffff;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.foto-about__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 768px;
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1200px;
    padding: 0;
  }
}

.foto-about__information {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 37px 0 25px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 648px;
    padding: 66px 135px 67px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1200px;
    padding: 100px 351px 67px;
  }
}

.foto-about__title {
  margin: 0;
  padding: 0 0 35px 0;
}

.foto-about__description {
  margin: 0;
}

.foto-about__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-block: 0;
  padding-inline: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    width: 648px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    width: 1200px;
    padding: 0;
  }
}
