.foto-about {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.foto-about__wrapper {
  margin: 0 auto;
}

.foto-about__title {
  margin: 0;
}

.foto-about__description {
  margin: 0;
}

.foto-about__list {
  margin: 0;
  padding: 0;
}
