.list-advice {
  display: flex;
  flex-direction: column;
}

.list-advice__item {
  padding-left: 47px;
}

.list-advice__title {
  margin: 6px 0 16px;
}

.list-advice__description {
  margin: 0 0 25px 0;
}
