.main-feedback-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 320px;
  background-color: #ffffff;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}
