.main-navigation {
  min-width: 320px;
  background-color: #82b3d2;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.main-navigation__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
}

.main-navigation__list {
  margin: 0;
  padding: 0;
}

.main-navigation__user {
  margin: 0;
  padding: 0;
}

.main-navigation__open {
  display: none;
}
