.main-header {
  min-width: 320px;
  min-height: 56px;
  background-color: @white;
  color: @black;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.main-header__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.main-header__logo {
  position: absolute;
  content: "";
  width: 185px;
  height: 96px;
  top: 0;
  bottom: -40px;
  right: 67px;
  z-index: 1;

  @media (min-width: @tablet-width) {
    left: 291px;
  }

  @media (min-width: @desktop-width) {
    left: 507px;
  }
}

.main-header__navigation {
  margin: 0 auto;
}
