.modal-container {
  min-width: 320px;
  background-color: @white;
  color: @brown;
  text-align: center;
}

/*.modal-container--close {
  display: none;
}*/

.modal-container__error {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 45px 42px 35px 41px;
  gap: 28px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 400px;
    padding: 50px 47px 49px 46px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    padding: 48px 47px 49px 46px;
  }
}

.modal-error__button {
  width: 180px;
  padding: 18px 63px 14px;
  margin: 0 auto;
  border: 0;

  @media (min-width: @tablet-width) {
    width: 272px;
    padding: 18px 107px 14px;
  }
}

.modal-container__normal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 640px;
  }

  @media (min-width: @desktop-width) {
    width: 640px;
  }
}

.modal-normal__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  padding: 39px 39px 30px 37px;

  @media (min-width: @tablet-width) {
    width: 640px;
    padding: 53px 99px 30px 97px;
  }

  @media (min-width: @desktop-width) {
    width: 640px;
    padding: 51px 99px 28px 97px;
  }
}

.modal-normal__wrapper-button {
  width: 320px;
  padding: 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 640px;
    padding: 44px 91px;
  }

  @media (min-width: @desktop-width) {
    width: 640px;
    padding: 44px 91px;
  }
}

.modal-normal__wrapper-button--creative {
  background-color: @light-gray;
}

.modal-normal__button {
  width: 280px;
  padding: 18px 60px 14px;
  margin: 0 auto;
  border: 0;

  @media (min-width: @tablet-width) {
    width: 458px;
    padding: 18px 139px 14px;
  }
}

.modal-error__title {
  @media (max-width: 767px) {
    br {
      display: none;
    }
  }
}

.advantages__description {
  @media (max-width: 767px) {
    br {
      display: none;
    }
  }
}
