.search-hotels {
  text-align: center;
  background-color: @white;
  color: @brown;
}

.search-hotels__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.search-hotels__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  gap: 32px;
  padding: 38px 18px 49px;

  @media (min-width: @tablet-width) {
    width: 768px;
    gap: 44px;
    padding: 60px 155px 55px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    padding: 60px 371px 66px;
  }
}

.search-hotels__description {
  @media (max-width: 767px) {
    br {
      display: none;
    }
  }
}

.search-hotels__button {
  margin: 0 auto;
  width: 284px;
  padding: 16px 49px;

  @media (min-width: @tablet-width) {
    width: 458px;
    padding: 15px 121px 17px;
  }
}

.search-hotels__link {
  position: relative;
  margin: 0 auto;
  background-color: @gray;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    z-index: 1;
    width: 27px;
    height: 27px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: url("../img/icon/icon_map-marker.svg") no-repeat center center / contain;
  }

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }

  &:active {
    opacity: 60%;
  }
}

.search-hotels__picture {
  height: 350px;

  @media (min-width: @tablet-width) {
    min-width: 768px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1200px;
  }
}
