.title {
  color: #000000;
  background-color: inherit;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.title--left {
  text-align: left;
}
